body{
    margin: 0;
    padding: 0;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main{
    margin: 0 7.8%;
}

/*Barra de menu*/
menu{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 12px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.logo{
    width: 115px;
}

.ladoIzq{
    display: flex;
}

.ladoDer{
    display: flex;
}

.ladoIzq a{
    margin: auto 20px auto 5px;
    text-decoration: none;
    color: #000;
}

.ladoDer a{
    margin: auto 4px auto 20px;
    text-decoration: none;
    color: #000;
}

.hover-li{
    border-bottom: 2px #fff solid;
}

.hover-li:hover{
    border-bottom: 2px #000 solid;
}

.menu-items{
    display: flex;
}

.menu-items p{
    border-bottom: 2px #fff solid;
}

.menu-items p:hover{
    border-bottom: 2px #000 solid;
}

/*Cada icono es de diferente tamaño*/
.flecha{
    width: 10px;
    height: 10px;
    padding: 15px 7px;
}

.lupa{
    width: 14px;
    height: 14px;
    padding: 12px 7px;
}

.carrito{
    width: 18px;
    height: 18px;
    padding: 11px 6px;
}

.usuario{
    width: 30px;
    height: 30px;
    padding: 5px 8px;
    margin: 0;

}

section{
    margin-bottom: 35px;
}

section h2{
    font-weight: 600;
}

.carrusel{
    width: auto;
    height: 540px;
    border: black solid;
}

.icons{
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.icon-text{
    text-align: center;
    margin: auto 14px;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.icon-text:hover{
    text-decoration: underline;
}

.icon-text p{
    margin: 0;
    width: 120px;
}

.icono{
    width: 40px;
    height: 40px;
}

.cards1{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.cards1 a{
    width: 23.6%;
    text-decoration: none;
    color: #000;
}

.cards1 a h3{
    font-weight: 600;
    margin-bottom: 3px;
}

.cards1 a p{
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.cards1 a img{
    width: 190px;
    margin-bottom: 10px;
}

.cards1 a h4{
    margin: 10px 0;
    font-weight: 500;
    font-size: 14.5px;
    color: #0067b8;
    border: #fff solid;
    width: fit-content;
}

.cards1 a h4:hover{
    border-bottom: 2px #0067b8 solid;
}

.actualizacion{
    width: auto;
    height: 540px;
    border: black solid;
    position: relative;
}

.info-act{
    width: 500px;
    position: absolute;
    bottom: 35%;
    right: 5%;
}

.info-act h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}

.info-act p{
    font-size: 14px;
    margin-bottom: 20px;
}

.info-act a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 28px;
    background-color: #000;
}

.covid{
    width: auto;
    height: 130px;
    background-color: #e6e6e6;
    text-align: center;
}

.covid h1{
    font-size: 31px;
    font-weight: 500;
    margin: 0;
    padding: 8px;
}

.covid p{
    font-size: 14px;
    padding: 7px;
    margin: 0;
}

.covid a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    border-bottom: #e6e6e6 solid;
}

.covid a:hover{
    border-bottom: 2px #000 solid;
}

.redes{
    width: auto;
    height: 100px;
    display: flex;
}

.redes p{
    padding: 1.6% .5%;
}

.redes a img{
    width: 30px;
    padding: 90% 30%;
    margin-right: 10px;
}

footer{
    width: auto;
    height: 330px;
    background-color: #f2f2f2;
    justify-content: space-between;
}

.contenedor-footer{
    margin: 0 7.8%;
    display: flex;
    justify-content: space-around;
}

.contenedor-footer a{
    font-size: 11px;
    color: #616161;
    text-decoration: none;
}

.contenedor-footer a:hover{
    text-decoration: underline;
    color: #000;
}

.columna br{
    font-size: 30px;
}

.contenedor-footer h5{
    font-size: 15px;
    color: #616161;
    font-weight: 500;
    margin: 15px 0;
}

.pie{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.li{
    font-size: 11px;
    color: #616161;
    margin-left: 20px;
}

.ld a{
    margin-left: 10px;
    margin-inline-end: 20px;
}
